{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "max-len": [1, 300],
    "react/jsx-quotes": 0,
    "jsx-quotes": [2, "prefer-double"],
    "prefer-template": 0,
    "import/no-unresolved": 0,
    "valid-typeof": 0,
    "no-else-return": 0,
    "no-control-regex": 0,
    "no-useless-escape": 0,
    "wrap-iife": 0,
    "func-names": 0
    },
	"plugins": [
		"react"
	]
}
